{{/* see https://bulma.io/documentation/layout/hero/ for size options */}}
{{ $size := .Params.HeroSize | default "is-small" }}
<section class="hero is-dark {{ $size }} has-bg-img"
{{ if ( .Params.HeroImage ) }}
style="background: url('{{ absURL .Params.HeroImage | safeCSS }}');
       background-position: center;
       background-size: cover;"
{{ end }}>

    <div class="hero-body">
        <div class="columns">
            <div class="column is-1">
            </div>
            <div class="column is-5">
                <div class="container has-text-left">
                    <p class="title hero-title pr-3">
                        {{ .Params.Title }}
                    </p>
                    <p class="subtitle is-size-2 hero-subtitle">
                        {{ .Params.SubTitle }}
                    </p>
                </div>
            </div>
            <div class="column is-5 is-justify-content-center" style="display: flex">
                <figure class="image">
                    <img src='{{ absURL "img/large-logo.svg" | safeCSS }}' style="width: 15vw">
                </figure>
            </div>
        </div>
    </div>
</section>
